@media screen and ( max-width: 767px) {
    .sprint_main_section{
    display: none;
    }
}
.sprint_conteiner {
    display: flex;
    background-color: #e5e5e5;
}

/* @media screen and ( max-width: 767px) {
    .sprint_conteiner {
        display: flex;
    } */

.conteiner {
    position: relative;
    padding: 20px;
}