.form {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #333;

  .label {
    position: relative;
    display: block;
    //     display: 'flex',
    //     flexDirection: 'column',
    margin-bottom: 30px;
    height: 50px;
    max-width: 290px;

    .input {
      position: absolute;
      left: 0;
      bottom: 0;

      &:focus {
        padding-left: 4px;
        border: 3px solid rgba(196, 225, 252, 0.616);
        box-shadow: 0px 0px 3px 3px rgba(83, 171, 253, 0.459);
        outline: none;
      }
    }
  }

  .button {
    padding: 5px 15px 3px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    background-color: #fff;
    &:focus {
      background-color: rgb(17, 97, 201);
      outline: none;
    }
  }
}
