.sidebar_wrapper {
    width: 255px;
    height: 100%;
    text-align: left;
    border-right: 1px solid rgba(24, 28, 39, 0.1);
    

}
.sidebar_list {
    width: 170px;
    height: 294px;

}
.sidebar_item {
    text-align: left;
    width: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    hyphens: auto;
    overflow-wrap: break-word;

}
.add_sprint_btn {
    display: block;
    width: 44px;
    height: 44px;
    box-shadow: 0 3px 4px rgb(255 107 8 / 30%);
    border-radius: 25px;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;

    outline: none;
    transition: all .3s linear;
} 
.button_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--button-color);
  }
  
  .plus {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  .back_wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .button_back {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    width: 44px;
    height: 44px;
  }
  .icon_back {
    width: 30px;
    height: 30px;
    fill: #181C27
  }