.sidebar {
  padding-bottom: 10px;

  border-bottom: 1px solid rgba(24, 28, 39, 0.1);
}
.list {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebar {
    padding-bottom: 0;

    border-bottom: none;
    border-right: 1px solid rgba(24, 28, 39, 0.1);
  }
  .list {
    display: block;
    margin-top: 60px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 30px;
    width: 200px;
  }
  .square {
    width: 30px;
    height: 30px;
    background-color: blue;
    margin-right: 15px;
  }
  .title {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;

    color: #181c27;
  }
}

// @media screen and (min-width: 1280px) {
// }
