.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;

  background: #ffffff;
  border-radius: 3px;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 20px 25px;
    width: 900px;
  }
}

@media screen and (max-width: 1199px) {
  .wrapper {
    padding: 15px 20px;
    width: 680px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    left: 100%;
    transform: translate(-50%, 0);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button_icon {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.chartContainer {
  overflow: scroll;
}
